<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68153313-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-68153313-4');
    </script>
    <title>COVID-19 Timeline Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src='/javascripts/locationmap.js' /></script>
    <script type="module" src='/javascripts/covidtracker.js' /></script>
  </head>
  <body>
    <div id="header">
      <div id="title-container">
        <a href="/"><h1 id="main-title">COVID-19 Daily New Cases</h1></a>
        <div id="repo-details">
          <h2>Based on the <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE Data Repository</a></h2>
          <div class="project-link"><a href="https://github.com/alek/covidtracker"><img src="/images/github.svg" height="15px"/></a></div>                   
       </div>
       <div id="filter-container">
       </div>
     </div>
     <div id="nav-links">
        <div>
          <h7>Graph config </h7>
          <div class="minilegend">each circle represents:</div>
        </div>
        <div id="type-select" class="filter-selector">
          <div id="type-label" class="clickable">New</div>
          <img src="/images/drop-down-menu.svg" width="10px"/>
        </div>
        <div id="variable-select" class="filter-selector">
          <div id="variable-label" class="clickable">Cases</div>
          <img src="/images/drop-down-menu.svg" width="10px"/>
        </div>
     </div>
    </div>

    <div id="main">

      <div id="grid-container"></div>
      <div id="metadata-container">
        <div id="location-metadata"></div>          
        <div id="legend">
          <h5>legend</h5>
          <div class="legend-entries">
            <div class="legend-dot low-color"></div><div class="dot-text">< 1000</div>
            <div class="legend-dot mid-color"></div><div class="dot-text">1000 - 2000</div>
            <div class="legend-dot high-color"></div><div class="dot-text">2000 - 3000</div>
            <div class="legend-dot breakout-color"></div><div class="dot-text">> 3000 cases</div>
          </div>
        </div>

      </div>

       <div id="loader">
           <img src="/images/loader.gif" class="loader-image"/>
           <h4 id="loading-tag">loading data</h4>
        </div>

    </div>

<!--     <div class="footer-container">
      <div class="info">
        <a href="https://github.com/alek/covidtracker">Covid Tracker Github Repo</a>
      </div>
    </div>
 -->
  </body>
</html>