<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19 Timeline Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src='/javascripts/pantone.js' /></script>
    <script src='/javascripts/svg.js' /></script>
    <script src='/javascripts/covid-data.js' /></script>
    <script src='/javascripts/covidtracker.js' /></script>
  </head>
  <body>
    <div id="header">
      <div id="title-container">
        <a href="/"><h1 id="main-title">COVID-19 Daily New Cases</h1></a>
       <h2>Based on the <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE Data Repository</a></h2>
     </div>
     <div id="nav-links">
        <div id="type-select" class="filter-selector">
          <div id="type-label" class="clickable">New</div>
          <img src="/images/drop-down-menu.svg" width="10px"></img>
        </div>
        <div id="variable-select" class="filter-selector">
          <div id="variable-label" class="clickable">Cases</div>
          <img src="/images/drop-down-menu.svg" width="10px"></img>
        </div>
     </div>
    </div>

    <div id="main">
      <div id="grid-container"></div>
      <div id="metadata-container">
        <h4>loading...</h4>
      </div>
    </div>

    <div id="legend">
      <!-- <h5>legend</h5> -->
    </div>
  </body>
</html>