html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #16120F;
	color: #fff;
	overflow-x: hidden
}

#main {
}

#grid-container {
/*	min-width: 70%;
	max-width: 70%;*/
}

#metadata-container {
	/*margin-top: 30px;*/
	height: 20vh;
	position: fixed;
	bottom: 0%;
	width: 30%;
	padding-left: 50px;
	/*background-color: red;*/
	opacity: 1;
}

#metadata-container h2 {
	font-size: 18px;
	/*line-height: 48px;*/
	margin-bottom: 12px;
	margin-top: 6px;
	color: #73706F;
}

b {
	font-weight: 700;
}

#metadata-container h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 12px;
	line-height: 21px;
}

#metadata-container h5 {
	font-size: 8px;	
	margin-bottom: 8px;
}

#metadata-container h6 {
	font-size: 10px;	
	color: #73706F;
}

#grid {
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-gap: 4px;
    align-items: center;
}

.grid-header {
	font-size: 8px;
	line-height: 10px;
	margin-bottom: 15px;
	color: rgba(255,255,255,0.4);
}

.grid-entry {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    margin: auto;
}

.row-label {
	font-size: 10px;
	margin-left: 10px;
	font-weight: 400;
}

.row-label:hover {
	color: #fff;
	cursor: pointer;
	font-weight: 400;
	/*font-size: 18px;*/
}

#header {
	margin-left: 50px;
	margin-top: 50px;
	display: flex;
/*	justify-content: space-between;*/
	flex-direction: row;
}

#title-container {
	width: 65%;
	color: #B4B5B6;
}

#title-container a {
	text-decoration: none;
	color: #fff;
}

#nav-links {
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: red;*/
}

#nav-links h7 {
	font-weight: 300;
	font-size: 10px;
	margin-right: 40px;
	letter-spacing: 1px;
	line-height: 10px;
	color: #73706F;
	text-transform: uppercase;
}

.minilegend {
	font-size: 8px;
	color: #73706F;
}

.filter-selector {
	cursor: pointer;
}

svg:hover {
	fill: #f00;
}

#nav-links #type-label, #variable-label {
	text-decoration: none;
	color: #808080;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	margin-right: 5px;
	cursor: pointer;
	display: inline-block;
}

#nav-links #type-label:hover {
	color: #fff;
}

#nav-links #variable-label:hover {
	color: #fff;
}

#type-select {
	margin-right: 30px;
}

#header h1 {
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	letter-spacing: 0px;
}

#header h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
}

.metaline {
	/*width: 100%;*/
	border-bottom: 1px solid rgba(255,255,255,0.3);
	margin-bottom: 20px;
}

#legend {
	margin: 55px 50px 0px 50px;
	width: 100%;
	display: none;
}

#legend h5 {
	text-transform: uppercase;
	color: #73706F;
	letter-spacing: 1px;
	font-size: 10px;
}

.legend-entries {
	margin-top: 10px;
	margin-bottom: 50px;
	width: 79%;
}

.legend-entries div {
	display: inline-block;
}

.legend-dot {
    display: inline-block;
    border-radius: 50%;
    margin: auto;
    min-width: 10px;
    min-height: 10px;
}

.low-color {
	background-color: #3EB19F;
}

.mid-color {
	background-color: #FDD837;
}

.high-color {
	background-color: #FA9260;
}

.breakout-color {
	background-color: #DB508E;
}

.dot-text {
	margin-left: 10px;
	margin-right: 30px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #989490;
	text-transform: uppercase;
}

.footer-container {
	display: flex;
}

.info {
	display: inline-block;
	/*margin-right: 15%;	*/
}

.info a {
	text-decoration: none;
	font-size: 12px;
	color: #989490;
	font-weight: 300;
}